# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment
.env
.env*.local
.env.development
.env.production

# TypeScript
*.tsbuildinfo

# Build & output
app-example
coverage/
build/
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~